#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100\vh;
  z-index: 0;
  pointer-events: none;
}

html, body {
  height: 100%;
}

#overlay-content {
  position: relative;
  z-index: 10;
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* start from top */
  padding-top: 35vh; /* some breathing room */
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text);
}

#IntoParagraph {
  position: relative;
  z-index: 10;
  height: 65vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* start from top */
  padding-top: 35vh; /* some breathing room */
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--text);
}

body {
  background-color: var(--color1);
}

nav {
  padding: 20px;
  height: fit-content;
  min-height: 100px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#links {
  z-index: 10;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 30px;
  width: 300px;
}

#ocean {
  background-color: #297247;
  height: calc(100% + 150px);
  width: calc(100% + 100px);
  position: absolute;
  top: -75px;
  left: -50px;
  filter: blur(25px);
  z-index: 5;
}
